.contenedor-boton a, .azul a {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  padding: 13px 100px;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase; }
  .contenedor-boton a:hover, .azul a:hover {
    transition: all 1s ease;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  background-color: #fefefefe; }
  body iframe {
    border-width: 0px;
    background-color: transparent;
    width: 100%;
    height: 232px; }
  body ul {
    margin: 0;
    padding: 0; }
  body li {
    list-style: none; }
  body a {
    text-decoration: none;
    color: #000000;
    font-family: "IBM Plex Mono", monospace; }
  body h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060A24;
    margin-top: 29px;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 42px; }
  body p {
    font-family: "IBM Plex Mono", monospace; }
  body h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #fefefefe;
    letter-spacing: 0;
    margin: 88px 16px 0 16px; }
  body footer {
    position: absolute;
    width: 100%; }
    body footer div {
      padding: 24px 46px 31px 46px; }
    body footer ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 34px; }
    body footer p {
      padding: 20px 0 0 58px;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px; }
    body footer li {
      color: #000000;
      font-size: 16px;
      padding: 0 38px 0 0; }
  @media (min-width: 768px) {
    body footer {
      padding-top: 36px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute; }
    body li {
      font-size: 18px;
      text-align: right; }
    body p {
      padding: 36px 0 36px 65px; } }

.navbar-header {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; }

.navbar-container {
  position: absolute;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #0000EC;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease; }
  .navbar-container li {
    padding-left: 16px;
    color: #fefefefe; }

#navbar-header:target .navbar-container {
  height: 224px; }

#navbar-header:target .open {
  display: none; }

#navbar-header:target .close {
  display: flex; }

.close {
  display: none; }

.contenedor {
  padding: 0 16px 16px 16px; }
  .contenedor p {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .contenedor span {
    text-decoration: line-through; }
  .contenedor .punto {
    text-decoration: none;
    color: #0000EC; }

.contenedor-azul {
  position: absolute;
  left: 0px;
  top: 347px;
  width: 100%;
  height: 1203.5px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skewy(-4deg);
  z-index: -1; }

.podcast {
  margin: 16px 11px 0 11px; }
  .podcast iframe {
    margin-bottom: 11px; }

.imagen-telefono {
  margin-top: 48px;
  margin-left: 10px; }
  .imagen-telefono img {
    width: 100%; }

.donde-venimos {
  margin: 27px 16px 0 16px; }
  .donde-venimos h2 {
    color: #000000;
    margin-top: 0; }
  .donde-venimos p {
    margin-top: 10px;
    line-height: 22px; }

.aversi h2 {
  color: #000000;
  padding: 54px 16px 14px 16px;
  margin-top: 0; }
.aversi div {
  display: grid;
  padding: 0;
  margin: 0;
  border: none; }
.aversi img {
  width: 100%; }

.algunos-temas h2 {
  padding: 48px 16px 37px 16px;
  color: #000000;
  margin-top: 0; }
.algunos-temas li {
  display: grid;
  justify-items: center;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 34px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold; }
.algunos-temas img {
  padding-bottom: 16px; }

.azul {
  height: 6%;
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%); }
  .azul h2 {
    position: relative;
    text-align: center;
    padding: 105px 16px 36px 37px;
    width: 288px;
    margin-top: 0; }
  .azul div {
    padding: 0 16px 67px 16px; }
  .azul a {
    position: absolute; }

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between; }
    .navbar img {
      padding: 0 0 0 80px;
      width: 5%; }

  .navbar-menu-mobile {
    display: none; }

  .navbar-container {
    font-size: 16px;
    height: auto;
    flex-direction: row;
    position: static;
    width: 60%;
    background-color: #fefefefe;
    color: #000000;
    line-height: 35px;
    padding: 26px; }
    .navbar-container a {
      color: #000000; }
      .navbar-container a:hover {
        color: #00F3BB;
        text-decoration: line-through; }
      .navbar-container a:active {
        color: #060A24;
        text-decoration: line-through; }

  .titulo {
    margin-top: 120px;
    margin: 0 0 10px 0;
    font-size: 64px; }

  .contenedor {
    padding: 120px 200px; }
    .contenedor p {
      padding: 10px 0 0 0;
      width: 628px;
      height: 48px; }

  .contenedor-boton {
    margin-top: 56px; }
    .contenedor-boton a {
      padding: 13px 69px; }

  .contenedor-azul {
    top: 449px;
    width: 100%;
    height: 975.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewy(-4deg);
    z-index: -1; }

  .titulo1 {
    margin-left: 200px;
    font-size: 48px; }

  .podcast {
    margin: 26px 100px 0 100px; }
    .podcast ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 72px;
      grid-row-gap: 72px; }

  .donde {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
    text-align: left;
    position: relative;
    right: 90px; }
    .donde img {
      width: 457.6px;
      height: 660px; }
    .donde h2 {
      font-size: 48px;
      color: #000000;
      padding-top: 164px;
      text-align: left; }
    .donde p {
      font-size: 16px;
      line-height: 24px;
      width: 464px;
      padding-top: 30px; }

  .aversi h2 {
    text-align: left;
    margin-top: 64px;
    padding: 64px 0 36px 200px;
    font-size: 48px;
    letter-spacing: 0; }
  .aversi div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }

  .algunos-temas h2 {
    padding: 64px 0 56px 200px;
    font-size: 48px; }
  .algunos-temas ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 65px 200px 34px 200px; }

  .azul {
    height: 518px; }
    .azul h2 {
      width: 90%;
      font-size: 48px;
      padding: 213px 0 36px 36px; }
    .azul div {
      padding: 0 547px; } }

/*# sourceMappingURL=styles.css.map */
